PORT=8000
NODE_ENV=production

MONGO_DB_NAME=meetixdb
MONGO_DB_USERNAME=meetix_user
MONGO_DB_PASSWORD=change_me
MONGODB_URI=mongodb://meetix_user:change_me@meetix-mongo:27017/meetixdb?authSource=admin

REDIS_URI=redis://meetix-redis:6379
CORS_ORIGIN=https://meetixchat.vercel.app

ACCESS_TOKEN_SECRET=change_me
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=change_me
REFRESH_TOKEN_EXPIRY=10d

EMAIL_USER=vchat.app.dev@gmail.com
EMAIL_PASS=change_me
EMAIL_FROM=Meetix <vchat.app.dev@gmail.com>
